Create User

<form action="/users/:id" method="GET">
  <label for="name">Name</label>
  <input id="name" type="text" name="name">
  <label for="">Hometown</label>
  <input type="text" name="hometown"  placeholder="philly">
  <input type="submit" value="submit" />
</form>
